config.security.js
config.security.mimic.js
node_modules
.vscode
chart/
β.json
records/
.zip
.tar
okx-trading.tar.zip
okx-trading.tar

# 忽略所有记录文件
/records/*
!records/.gitkeep

# 忽略所有图表文件
/chart/*
!chart/.gitkeep.DS_Store
.DS_Store